---
BasedOnStyle: Microsoft
IndentWidth: 4
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Right
AccessModifierOffset: -4
ReflowComments: false
SortIncludes: true
TabWidth: 4
UseCRLF: false
UseTab: Never

BinPackArguments: true
BinPackParameters: true
BraceWrapping:
    AfterCaseLabel: true
ColumnLimit: 120
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: None
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
---
